# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/

# Model files (too large for git)
model_store_server/models/
inference_worker/model_cache/
*.gguf

# OS / editor
.DS_Store
.idea/
.vscode/

**/pyrightconfig.json
